<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
  window.staticImages = {
    navLogo: "<%= asset_url("nav_logo.png") %>",
    beeperNub: "<%= asset_url("beeper_nub2.png") %>"
  }
</script>

<main id="root"></main>
