.comment-container {
  width: 518px;
  padding: 8px 12px 8px 0;
  background-color: rgb(242, 243, 245);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 1px solid rgb(225, 226, 227);
  border-right: 1px solid rgb(225, 226, 227);
  border-bottom: 1px solid rgb(225, 226, 227);
  box-sizing: border-box;
  margin-bottom: 13px;
}

.comment-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-left: 12px;
}

.comment-img-preview {
  width: 80px;
  height: 80px;
  margin-left: 5px;
}

.comment-img-preview-box {
  background-color: white;
  border: 1px solid rgb(221, 223, 226);
  width: 454px;
  height: 92px;
  box-sizing: border-box;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  i {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 5px;
    font-size: 14px;
    color: rgb(29, 33, 41);
    opacity: .5;
    font-weight: 400;
  }

  i:hover {
    background-color: #365899;
    cursor: pointer;
    color: white;
  }
}

.comment-input {
  color: rgb(29, 33, 41);
  font-size: 12px;
  box-sizing: border-box;
  width: 330px;
  height: 32px;
  border: none;
  background-color: transparent;
  margin-left: 11px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.comment-img-preview-box-hidden {
  display: none;
}

.comment-box {
  width: 454px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid rgb(206, 208, 212);

  i {
    color: rgb(225, 226, 227);
    font-size: 12px;
    margin-right: 8px;
  }

  i:hover {
    cursor: pointer;
    color: rgb(29, 33, 41);
  }

  button {
    display: none;
  }
}

.comment-file-upload-container input[type="file"] {
  display: none;
}

.comment-form-upload-label {
  display: flex;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-list-item {
  border-left: 1px solid rgb(225, 226, 227);
  border-right: 1px solid rgb(225, 226, 227);
  background-color: rgb(242, 243, 245);
  width: 518px;
  min-height: 57px;
  padding: 4px 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.edit-delete-comment-container {
  display: none;
}

.comment-item-delete-btn {
  font-size: 8px;
  color: rgb(29, 33, 41);
  cursor: pointer;
  background-color: #f6f7f9;;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 2px;
}

.comment-item-delete-btn:hover {
  background-color: #e1e1e1;
}

.comment-list-item:hover .edit-delete-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-list-item:first-child {
  padding-top: 12px;
}

.comment-body-container {
  max-width: 430px;
  box-sizing: border-box;
  padding: 8px 10px;
  background-color: white;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  position: relative;
}

.comment-name {
  font-weight: 700;
  color: rgb(54, 88, 153);
}

.comment-like-btn {
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  margin-right: 2px;
  color: rgb(54, 88, 153);

  &:hover {
    text-decoration: underline;
  }
}

.comment-liked {
  color: rgb(64, 128, 255);
  font-weight: 700;
}

.comment-like-count {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
  color: rgb(144, 148, 156);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: -13px;
  right: -12px;
}

.comment-like-icon-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(64, 128, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;

  i {
    color: white;
  }
}

.comment-like-number {
  font-size: 11px;
  margin: 2px;
}

.comment-strong-date {
  color: #90949c;
  font-size: 12px;
  font-weight: normal;
  cursor: default;
  margin-left: 4px;
}

#comment-date {
  margin-left: 12px;
}

.comment-name:hover {
  text-decoration: underline;
}

.comment-body {
  color: rgb(29, 33, 41);
}

.comment-body-img {
  width: 80px;
  height: 80px;
  border-radius: 16px;;
}
