.comment-container {
  width: 518px;
  padding: 8px 12px 8px 0;
  background-color: rgb(242, 243, 245);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 1px solid rgb(225, 226, 227);
  border-right: 1px solid rgb(225, 226, 227);
  border-bottom: 1px solid rgb(225, 226, 227);
  box-sizing: border-box;
  margin-bottom: 13px;
}

.comment-img-preview-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 100px;
  margin: 5px 0 5px 12px;
}

.comment-img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-left: 12px;
}

.comment-input {
  color: rgb(29, 33, 41);
  font-size: 12px;
  box-sizing: border-box;
  width: 330px;
  height: 32px;
  border: none;
  background-color: transparent;
  margin-left: 11px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.comment-box {
  width: 454px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid rgb(206, 208, 212);

  i {
    color: rgb(225, 226, 227);
    font-size: 12px;
    margin-right: 8px;
  }

  i:hover {
    cursor: pointer;
    color: rgb(29, 33, 41);
  }

  button {
    display: none;
  }
}

.comment-file-upload-container input[type="file"] {
  display: none;
}

.comment-form-upload-label {
  display: flex;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-list-item {
  border-left: 1px solid rgb(225, 226, 227);
  border-right: 1px solid rgb(225, 226, 227);
  background-color: rgb(242, 243, 245);
  width: 518px;
  min-height: 57px;
  padding: 4px 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.edit-delete-comment-container {
  display: none;
}

.comment-item-delete-btn {
  font-size: 8px;
  color: rgb(29, 33, 41);
  cursor: pointer;
  background-color: #f6f7f9;;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 2px;
}

.comment-item-delete-btn:hover {
  background-color: #e1e1e1;
}

.comment-list-item:hover .edit-delete-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-list-item:first-child {
  padding-top: 12px;
}

.comment-body-container {
  max-width: 430px;
  box-sizing: border-box;
  padding: 8px 10px;
  background-color: white;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
}

.comment-name {
  font-weight: 700;
  color: rgb(54, 88, 153);
}

#comment-date {
  margin-left: 12px;
}

.comment-name:hover {
  text-decoration: underline;
}

.comment-body {
  color: rgb(29, 33, 41);
}

.comment-body-img {
  width: 60px;
  height: 60px;
}

.comment-cancel-upload-btn {
  height: 130px;

  span {
    background-color: black;
    opacity: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    top: -115px;
    left: 12px;
  }

  span:hover {
    opacity: 0.5;
    background-color: black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    top: -115px;
    left: 12px;
  }

  span:hover i {
    color: red;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 3px;
    z-index: 3;
  }
}
