textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus,
button:focus,
button:active,
button:hover,
select:focus,
select:active,
select:hover,
/* {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-box-shadow: none;
  box-shadow: none;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
} */
