.edit-post-container {
  width: 600px;
  height: 339px;
  z-index: 3;
  position: absolute;
  top: 100px;
  left: -43px;
}

.edit-post-modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.edit-post-header {
  width: 576px;
  height: 20px;
  background-color: rgb(246, 247, 249);
  border-bottom: 1px solid rgb(229, 229, 229);
  color: rgb(29, 33, 41);
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.edit-post-header span {
  display: flex;
  align-items: center;
  margin-left: 498px;
}

.edit-post-header i {
  color: rgb(144, 148, 156);
}

.edit-post-header i:hover {
  color: rgb(29, 33, 41);
  cursor: pointer;
}

.edit-post-body {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
}

.edit-post-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 12px;
}

.edit-post-text {
  width: 500px;
  padding: 23px 34px 13px 12px;
  font-size: 14px;
  color: rgb(29, 33, 41);

  color: rgb(144, 148, 156);
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.edit-post-img-preview img {
  margin: 15px 0 15px 12px;
}

.edit-post-img-preview {
  width: 600px;
  background-color: white;
}

.edit-post-img-preview span {
  margin-top: -3px;
}

.edit-post-upload-label-hidden {
  display: none;
}

.edit-post-upload-label {
  width: 600px;
  background-color: white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.edit-post-upload-label:hover {
  background-color: #f6f7f9;
}

.edit-post-upload-btn input[type="file"] {
  display: none;
}

.edit-post-footer {
  width: 600px;
  height: 40px;
  background-color: rgb(246, 247, 249);
  border-top: 1px solid rgb(229, 229, 229);
  color: rgb(29, 33, 41);
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.save-post-edits-btn {
  padding: 0 6px;
  color: white;
  border: 1px solid rgb(66, 103, 178);
  background-color: rgb(66, 103, 178);
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  height: 26px;
  margin-right: 6px;
}

.save-post-edits-btn:hover {
  border: 1px solid #365899;
  background-color: #365899;
}

.edit-delete-post-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 228px;
}
