.edit-post-container {
  width: 600px;
  min-height: 339px;
  border-radius: 3px;
}

.edit-post-header {
  width: 600px;
  height: 40px;
  background-color: rgb(246, 247, 249);
  border-bottom: 1px solid rgb(229, 229, 229);
  color: rgb(29, 33, 41);
  font-size: 12px;
  font-weight: 700;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.edit-post-header p {
  margin: 0;
}

.edit-post-header span {
  display: flex;
  align-items: center;
  margin-left: 500px
}

.edit-post-body {
  background-color: white;
  font-size: 14px;
  color: rgb(29, 33, 41);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  height: 144px;
}

.edit-post-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.edit-post-text {
  width: 500px;
  height: 108px;
  padding: 23px 34px 13px 12px;
}

.edit-post-img {
  width: 600px;
  max-height: 130px;
  display: flex;
  justify-content: flex-start;
}

.edit-post-img img {
  margin: 15px 0 15px 5px;
  width: 100px;
  height: 100px;
}
