#landing-page-timeline {
  width: 202px;
  margin: 0;
  padding: 0 0 0 15px;
}

#landing-page-feed {
  width: 150px;
  margin: 0;
  padding: 0 0 0 15px;
}

#landing-page-search {
  width: 88px;
  margin: 0;
  padding: 0 0 0 15px;
}
