.hover-container {
  display: none;
}

.hover-name {
  color: white;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 90px;
  left: 80px;
  width: 70px;
}

.post-item-name:hover .hover-container {
  display: block;
  width: 180px;
  height: 150px;
  background-color: white;
  position: absolute;
  top: -160px;
  left: -25px;
  color: white;
  border-radius: 3px;
  box-sizing: content-box;
  border: 1px solid rgb(221, 223, 226);
}

.hover-cover-img {
  width: 180px;
  height: 120px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  &:before {
    background: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,.3) -88%, transparent);
  }
}

.hover-prof-img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 78px;
  left: 10px;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 3px;
}
