.main-nav-bar {
  background-color: #4267b2;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.friend-dropdown-container {
  width: 406px;
  background-color: white;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 3px;
}

.friend-dropdown-header {
  width: 406px;
  height: 16px;
  padding: 8 12px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(29, 33, 41);
  border-bottom: 1px solid rgb(221, 223, 226);
}

.friend-requests {
  width: 27px;
  height: 27px;
  color: #0b1b44;
  display: flex;
  align-items: center;
  margin-left: 32px;
  cursor: pointer;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-left: calc((100vw - 851px - 305px) / 2);
}

.right-nav-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 160px;
}

.right-nav-feed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 215px;
}

.main-nav-bar p {
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.nav-logo {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.nav-search {
  max-width: 447px;
  height: 24px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  border-radius: 3px;
}

.nav-search input {
  color: rgb(29, 33, 41);
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  width: 388px;
  height: 23px;
  padding-right: 5px;
  padding-left: 8px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nav-search-btn {
  background-color: rgb(246, 247, 249);
  width: 46px;
  height: 24px;
  cursor: pointer;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.nav-search-btn:hover {
  background-color: lightgrey;
}

.logout-btn {
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  height: 20px;
  padding: 0 10px;
}

.logout-btn-container {
  height: 28px;
  display: flex;
  align-items: center;
}

.logout-btn-container:hover {
  background-color: #3b5998;
  border-radius: 2px;
  cursor: pointer;
}

.profile-btn-container {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 28px;
}

.profile-btn-container:hover {
  background-color: #3b5998;
  border-radius: 2px;
}

.profile-btn {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
}

.nav-profile-pic {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.newsfeed-btn {
  cursor: pointer;
  color: white;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  height: 20px;
  border-left: 1px solid #3b5998;
  padding: 0 10px;
}

.newsfeed-btn-container {
  height: 28px;
  display: flex;
  align-items: center;
}

.newsfeed-btn-container:hover {
  background-color: #3b5998;
  border-radius: 2px;
  cursor: pointer;
}
