.newsfeed-main {
  display: flex;
  justify-content: flex-start;
  margin: 13px auto;
  width: 851px;
}

.newsfeed-parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.newsfeed-sidebar {
  max-width: 184px;
  margin: 0 13px 0 5px;
}

.newsfeed-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.newsfeed-sidebar li {
  font-size: 12px;
  width: 184px;
  height: 29px;
  border-radius: 1px;
  color: rgb(29, 33, 41);
  margin-bottom: 13px;
}

.newsfeed-li-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.newsfeed-li-name p {
  margin: 0;
}

.newsfeed-sidebar-profile-pic {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 4px;
}

.newsfeed-sidebar li:hover {
  background-color: rgb(246, 247, 249);
  cursor: pointer;
}

.right-div {
  margin-left: 13px;
}

.newsapi {
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  width: 308px;
  box-sizing: border-box;
  padding: 12px;
}
.trending-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.trending-title {
  height: 13px;
  width: 152px;
  font-size: 13px;
  color: rgb(144, 148, 156);
  margin: 0;
}

.trend-icon {
  margin-right: 8px;
  max-width: 18px;
}

.trending-list {
  list-style: none;
  padding: 0;
  margin: 6px 0 0 0;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 4px;

    a {
      text-decoration: none;
    }
  }
}

.article-desc {
  font-size: 13px;
  color: rgb(29, 33, 41);
  margin: 0;
}

.article-source {
  color: #90949c;
  font-size: 13px;
}

.icon-hover {
  display: none;
}

.icon-container {
  position: relative;
}

i:hover .icon-hover {
  display: none;
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
}

.trending-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  i {
    color: rgb(144, 148, 156);
    width: 16px;
    height: 16px;
    padding: 4px;
    margin-right: 8px;
    cursor: pointer;
  }

  .icon-active {
    color: rgb(66, 103, 178);
    border-bottom: 1px solid rgb(66, 103, 178);
  }
}
