.newsfeed-main {
  display: flex;
  justify-content: flex-start;
  margin: 13px auto;
  width: 851px;
}

.newsfeed-parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.newsfeed-sidebar {
  max-width: 184px;
  margin: 0 13px 0 5px;
}

.newsfeed-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.newsfeed-sidebar li {
  font-size: 12px;
  width: 184px;
  height: 29px;
  border-radius: 1px;
  color: rgb(29, 33, 41);
  margin-bottom: 13px;
}

.newsfeed-li-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.newsfeed-li-name p {
  margin: 0;
}

.newsfeed-sidebar-profile-pic {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 4px;
}

.newsfeed-sidebar li:hover {
  background-color: rgb(246, 247, 249);
  cursor: pointer;
}

.right-div {
  margin-left: 13px;
}

.newsapi {
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  width: 308px;
  height: 225px;
  box-sizing: border-box;
  padding: 12px;
}
.trending-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.trending-title {
  height: 13px;
  width: 152px;
  font-size: 13px;
  color: rgb(144, 148, 156);
  margin: 0;
}

.trending-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  i {
    color: rgb(144, 148, 156);
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
}
