.post-form-main {
  min-height: 122px;
  border-bottom: 1px solid rgb(221, 223, 226);
}

.post-form-container {
  width: 516px;
  min-height: 194px;
  border: 1px solid rgb(221, 223, 226);
  background-color: white;
  border-radius: 1px;
}

.post-form-header {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(246, 247, 249);
  height: 16px;
  padding: 8px 0;
  border-bottom: 1px solid rgb(221, 223, 226);
}

.post-form-header span {
  padding: 0 8px;
  border-right: 1px solid rgb(221, 223, 226);
}

.post-form-header i {
  color: rgb(75, 79, 86);
  font-size: 12px;
}

.post-form-header button {
  color: rgb(75, 79, 86);
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.post-body-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 516px;
  flex-direction: column;
}

.post-form-text {
  display: flex;
  justify-content: flex-start;
  width: 516px;
}

.img-preview-container {
  display: flex;
  justify-content: flex-start;
  width: 516px;
  align-items: center;
  max-height: 100px;
  margin: 15px 0 15px 12px;
}

.img-preview {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.post-body-footer {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 32px;
  width: 492px;
  padding: 8px 0;
  margin: 0 12px;
  border-top: 1px solid rgb(221, 223, 226);
}

.post-file-upload-container input[type="file"] {
  display: none;
}

#post-form-upload-label {
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  width: 122px;
  height: 32px;
  background-color: rgb(246, 247, 249);
  color: rgb(75, 79, 86);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

#post-form-upload-label i {
  margin-right: 4px;
}

#post-form-upload-label:hover {
  background-color: rgb(225, 225, 225);
}

.create-post-btn {
  background-color: rgb(66, 103, 178);
  color: white;
  box-sizing: content-box;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid rgb(66, 103, 178);
  padding: 0 16px;
  border-radius: 2px;
  line-height: 22px;
  margin: 7.5px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.post-form-footer {
  display: flex;
  justify-content: flex-end;
}

.post-form-modal-open {
  position: fixed;
  background-color: black;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.post-form-modal {
  position: absolute;
  z-index: 2;
}

.post-form-close-btn {
  width: 290px;
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
}

.post-form-close-btn i {
  color: rgb(144, 148, 156);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.post-form-close-btn-hidden {
  display: none;
}

.post-form-modal-hidden {
  height: 194px;
  width: 10px;
}

.post-form-modal-hidden-picture {
  height: 324px;
  width: 10px;
}

.post-form-text textarea {
  color: rgb(144, 148, 156);
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.cancel-upload-btn {
  height: 130px;
}

.cancel-upload-btn span {
  background-color: black;
  opacity: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  top: -115px;
  left: 12px;
}

.cancel-upload-btn span:hover {
  background-color: black;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  top: -115px;
  left: 12px;
}

.cancel-upload-btn span:hover i {
  color: red;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 3px;
  z-index: 3;
}

.cancel-upload-btn-hidden {
  display: none;
}
