.post-index-ul {
  list-style: none;
  padding: 0;
  margin-top: 13px;
}

.post-profile-pic {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 12px 0 0 12px;
}

.post-body {
  padding: 23px 48px 13px 12px;
  border: none;
  color: rgb(29, 33, 41);
  cursor: text;
  font-size: 14px;
  width: 404px;
  height: 35px
}

.post-item {
  width: 516px;
  border: 1px solid rgb(221, 223, 226);
  background-color: white;
  border-radius: 1px;
  position: relative;
}

.post-item-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 12px 0 12px;
}

.post-item-header-right {
  width: 444px;
  height: 38px;
}

.post-item-profile-pic {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 0 8px 0 0;
  cursor: pointer;
}

.post-item-name-and-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 444px;
  height: 19px;
  margin-bottom: 2px;
}

.post-item-date-container {
  width: 444px;
  height: 17px;
}

.post-item-delete-btn {
  background-color: transparent;
  border: none;
  color: rgb(75, 79, 86);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  padding: 4px 10px;
}

.post-item-delete-btn:hover {
  color: black;
}

.post-item-date {
  color: #90949c;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
}

.post-item-date:hover {
  text-decoration: underline;
}

.post-item-name {
  color: #365899;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

.post-item-name:hover {
  text-decoration: underline;
}

.post-item-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 14px;
  width: 492px;
  height: 32px;
  color: rgb(144, 148, 156);
  font-size: 14px;
  font-weight: 700;
}

.like-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  padding: 4px 4px 4px 0;
  margin-right: 20px;
  cursor: pointer;
}

.like-btn i {
  margin-right: 6px;
}

.like-btn p:hover {
  text-decoration: underline;
}

.comment-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 32px;
  padding: 4px 4px 4px 0;
  margin-right: 20px;
  cursor: pointer;
}

.comment-btn i {
  margin-right: 6px;
}

.comment-btn p:hover {
  text-decoration: underline;
}

.post-item-body {
  width: 492px;
  padding: 0 0 12px 0;
  margin: 6px 0 0 14px;
  border-bottom: 1px solid #e5e5e5;
  color: rgb(29, 33, 41);
  font-size: 14px;
  font-weight: 400;
}

.post-body-img {
  max-width: 492px;
}
