.profile-post-index {
  width: 516px;
  margin-left: 13px;
  margin-top: 13px;
}

.profile-aside {
  width: 321px;
  margin-top: 13px;
}

.profile-intro {
  width: 321px;
  height: 350px;
  margin-bottom: 13px;
  background-color: gray;
}

.profile-photos {
  width: 321px;
  height: 350px;
  margin-bottom: 13px;
  background-color: gray;
}

.profile-friends {
  width: 321px;
  height: 350px;
  margin-bottom: 13px;
  background-color: gray;
}

.profile-body {
  width: 851px;
  display: flex;
  justify-content: space-between;
}

.profile-main {
  width: 851px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-cover {
  width: 851px;
}

.profile-cover-photo {
  width: 851px;
  height: 315px;
}

.profile-cover-photo-container {
  width: 851px;
  height: 315px;
  background-color: gray;
}

.cover-photo-screen {
  width: 851px;
  height: 315px;
  background-color: black;
  opacity: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}

.cover-photo-screen i {
  margin-left: 10px;
  margin-top: 10px;
}

.cover-photo-screen:hover {
  opacity: .2;
}

.profile-cover-nav {
  width: 851px;
  height: 43px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cancelCoverUpload {
  padding: 0 6px;
  border: 1px solid rgb(206, 208, 212);
  color: rgb(75, 79, 86);
  background-color: rgb(233, 235, 238);
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  height: 26px;
  margin-left: 685px;
}

.cancelCoverUpload:hover {
  background-color: #d6d8db;
}

.saveCoverUpload {
  margin-left: 4px;
  padding: 0 6px;
  color: white;
  border: 1px solid rgb(66, 103, 178);
  background-color: rgb(66, 103, 178);
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  height: 26px;
}

.saveCoverUpload:hover {
  border: 1px solid #365899;
  background-color: #365899;
}
