.profile-container-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.friend-btn-hidden {
  display: none;
}

.friend-btn {
  height: 26px;
  padding: 0 10px;
  color: rgb(75, 79, 86);
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(246, 247, 249);
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 62px;
  right: 18px;
  border-radius: 2px;

  &:hover {
    background-color: #e9ebee;
    cursor: pointer;
  }
}

.messenger-and-games {
  width: 305px;
}

.profile-post-index {
  width: 516px;
  margin-left: 13px;
  margin-top: 13px;
}

.profile-name {
  font-size: 24px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 280px;
  left: 215px;
}

.profile-aside {
  width: 321px;
  margin-top: 13px;
}

.profile-intro {
  width: 321px;
  height: 350px;
  margin-bottom: 13px;
  background-color: gray;
}

.profile-photos {
  width: 321px;
  height: 350px;
  margin-bottom: 13px;
  background-color: gray;
}

.profile-friends {
  width: 321px;
  height: 350px;
  margin-bottom: 13px;
  background-color: white;
  border: 1px solid rgb(221, 223, 226);
}

.profile-friends-pic {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-top: 5px;
  background: linear-gradient(to top, black, transparent);
}

.profile-friends-names {
  font-size: 12px;
  font-weight: 700;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.profile-friends-header {
  width: 321px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  box-sizing: border-box;
}

.profile-friends-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    position: relative;
  }
}

.profile-friends-title {
  font-size: 16px;
  color: rgb(29, 33, 41);
  margin: 0 10px;
}

.profile-friends-count {
  color: #90949c;
  font-size: 14px;
}

.profile-body {
  width: 851px;
  display: flex;
  justify-content: space-between;
}

.profile-main {
  width: 851px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-cover {
  width: 851px;
  position: relative;
}

.profile-cover-photo {
  width: 851px;
  height: 315px;
}

.profile-cover-photo-container {
  width: 851px;
  height: 315px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;

  &:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,.3) -88%, transparent);
  }
}

.profile-pic-preview {
  width: 100px;
  height: 100px;
}

.cover-photo-screen-hidden {
  display: none;
}

.cover-photo-screen {
  width: 851px;
  height: 315px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cover-photo-btn input[type="file"] {
  display: none;
}

.cover-photo-screen:hover .custom-file-upload {
  border: 1px solid white;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  background-color: black;
}

.custom-file-upload {
  color: transparent;
  padding: 6px 12px;
  display: flex;
  align-items: center;
}

.custom-file-upload i {
  color: white;
  opacity: .2;
  margin-right: 10px;
}

.cover-photo-btn {
  margin-left: 22px;
  margin-top: 22px;
  cursor: pointer;
}

.profile-cover-nav {
  width: 851px;
  height: 43px;
  border-right: 1px solid rgb(221, 223, 226);
  border-left: 1px solid rgb(221, 223, 226);
  border-bottom: 1px solid rgb(221, 223, 226);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.cancel-cover-upload {
  padding: 0 6px;
  border: 1px solid rgb(206, 208, 212);
  color: rgb(75, 79, 86);
  background-color: rgb(233, 235, 238);
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  height: 26px;
}

.cancel-cover-upload:hover {
  background-color: #d6d8db;
}

.save-cover-upload {
  margin-left: 4px;
  margin-right: 8px;
  padding: 0 6px;
  color: white;
  border: 1px solid rgb(66, 103, 178);
  background-color: rgb(66, 103, 178);
  font-size: 12px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  height: 26px;
}

.save-cover-upload:hover {
  border: 1px solid #365899;
  background-color: #365899;
}

.cover-upload-hidden {
  display: none;
}

.prof-pic-anchor {
  position: relative;
}

.profile-picture-container {
  width: 176px;
  height: 176px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.profile-picture {
  width: 168px;
  height: 168px;
  border: 4px solid white;
  border-radius: 2px;
}

.profile-pic-btn input[type="file"] {
  display: none;
}

.profile-pic-btn {
  width: 168px;
  height: 48px;
  opacity: .7;
  position: absolute;
  bottom: 25px;
  left: 25px;
  cursor: pointer;
}

.prof-pic-hover:hover .profile-pic-btn {
  background-color: black;
}

.profile-pic-btn:hover {
  background-color: black;
  opacity: .9;
}

.prof-pic-hover:hover .prof-pic-btn-label {
  color: white;
}

.prof-pic-btn-label {
  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: transparent;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.prof-pic-btn-label p {
  width: 90px;
  margin-left: 10px;
}

.prof-pic-modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.prof-modal-close-btn {
  width: 200px;
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
}

.prof-modal-close-btn i {
  display: flex;
  align-items: center;
  color: rgb(144, 148, 156);
}

.modal-prof-pic-upload-anchor {
  position: relative;
  display: flex;
  justify-content: center;
}

.prof-pic-modal-upload {
  position: absolute;
  width: 360px;
  background: #fff;
  z-index: 3;
  border-radius: 3px;
  border: 1px solid #000;
}

.pic-upload-hidden {
  display: none;
}

.modal-upload-header {
  color: rgb(29, 33, 41);
  background-color: rgb(246, 247, 249);
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 10px 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal-upload-header p {
  margin: 0;
}

.modal-upload-header span {
  display: flex;
  align-items: center;
}

.modal-upload-footer {
  border-radius: 3px;
  background-color: rgb(246, 247, 249);
  border-top: 1px solid rgb(229, 229, 229);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
}

.prof-pic-upload-btn {
  height: 100px;
  padding: 15px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prof-pic-upload-btn input[type="file"] {
  display: none;
}

.prof-pic-upload-btn:hover {
  background-color: #f6f7f9;
}

.prof-pic-btn-upload {
  font-size: 16px;
  font-weight: 400;
  color: rgb(29, 33, 41);
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 360px;
  height: 130px;
  justify-content: center;
}

.prof-pic-btn-upload-hidden {
  display: none;
}
