<!DOCTYPE html>
<html>
  <head>
    <title>Venn</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/db880a9af4.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
